.footer {
  position: relative;
  color: white;
  bottom: 150px;
  margin-left: 40px;
  display: flex;
}

.footerText {
  flex: 1;
}

.footerText > p {
  padding-bottom: 20px;
}

.footerRecord {
  animation: recordSpin infinite 5s linear;
  height: 50px;
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 20px;
}

@keyframes recordSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footerIcon {
  font-size: 1.8rem;
}

.footerTicker {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footerText > h3 {
  padding-bottom: 1rem;
}

.footerTIcker h1 {
  padding-top: 7px;
}
