.sidebar {
  position: absolute;
  top: 50%;
  right: 0.6rem;
  color: white;
}

.sidebarButton {
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebarButtonLabel {
  font-size: 1rem;
}

.redHeart {
  color: red;
}
